input, buttons, textarea {
    font: 400 18px Roboto, sans-serif;
}
button {
    cursor: pointer;
    width: 80%;
    height: 45px;
    background: #84c2f5;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height:  60px;
    transition: filter 0.4s;
    margin-left: 180px;
}
button:hover {
    filter: brightness(50%);
}

form label{
    font: 400 18px Roboto, sans-serif;
    margin-top: 20px;
    text-align: left;
}

form input {
    margin-top: 10px;
    margin-left: 25px;
    width: 80%;
    height: 45px;
    color: #1607a1;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    align-items: flex-end;
}


form textarea {
    margin-top: 20px;
    margin-left: 98px;
    width: 80%;
    resize: vertical;
    min-height: 140px;
    color: #1607a1;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px; 
  
}

form color {
    margin-left: 98px;
}

.back-Link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #75b2e4;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.5s;
}
.back-link svg {
    margin-right: 9px;
}

.back-link:hover {
    opacity: 0.8;
}